/*!****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/UI/Button.scss ***!
  \****************************************************************************************************************************************************/
.button_e7PjE {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 11px 18px;
  font-family: "Montserrat";
  font-size: calc(var(--page-pad) * 1.25);
  font-weight: 500;
  text-transform: uppercase;
}
.button--primary_u8X7Z {
  background-color: var(--main-color);
  color: var(--color-white);
}
.button--outline_NX1iS {
  background: rgba(96, 96, 96, 0.68);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/SearchBar/SearchBar.scss ***!
  \**************************************************************************************************************************************************************/
.search-bar_xjQ8y {
  padding: 0 120px;
}
.search-bar_xjQ8y h2 {
  font-size: calc(var(--page-pad) * 2.5);
  font-weight: 300;
  text-transform: uppercase;
  color: #FFFFFF;
}
.search-bar--content_GWHXh {
  display: flex;
}
.search-bar--content_GWHXh .search_Hkdgn {
  margin-right: 14px;
  width: 100%;
  height: 57px;
}
.search-bar--content_GWHXh .search-button_La2v3 {
  width: 233px;
}
/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/Layout/Logo.scss ***!
  \******************************************************************************************************************************************************/
.logo_ndXpm {
  font-size: calc(var(--page-pad) * 1.25);
  color: var(--main-color);
}
.logo--bold_wxAL5 {
  font-weight: 900;
}
.logo--light_ziyxU {
  font-weight: 500;
}
/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/Movies/MovieDescription.scss ***!
  \******************************************************************************************************************************************************************/
.heading-nav_p13IU {
  background-color: var(--black-color);
  display: flex;
  justify-content: space-between;
  padding: 35px 60px 0;
}
.heading-nav--mini-logo_PDC9v {
  color: var(--main-color);
}
.heading-nav--search-link_nmrB2 {
  color: var(--main-color);
  font-size: calc(var(--page-pad) * 3);
  cursor: pointer;
}

.movie-description_p_opj {
  background-color: var(--black-color);
  height: 606px;
  padding: 60px;
  display: flex;
}
.movie-description--image_lfI2V {
  width: 330px;
}
.movie-description--image_lfI2V img {
  max-width: 323px;
}
.movie-description--details_SNkWq {
  margin-left: 25px;
}

.details--heading-rating_uywnd {
  display: flex;
}
.details--heading_EZ3UC {
  font-size: calc(var(--page-pad) * 2.5);
  line-height: calc(var(--page-pad) * 3);
  font-weight: 300;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}
.details--rating_GH3jv {
  color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  font-size: calc(var(--page-pad) * 1.25);
  font-weight: 300;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -7px;
  margin-left: 25px;
}
.details--genre_nAvqc {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  font-size: calc(var(--page-pad) * 0.9);
  line-height: calc(var(--page-pad) * 1.05);
  font-weight: 500;
}
.details--year-time_fa0I1 {
  color: var(--main-color);
  margin-bottom: 30px;
  font-size: calc(var(--page-pad) * 1.5);
  line-height: calc(var(--page-pad) * 1.8);
  font-weight: 300;
  display: flex;
}
.details--year_niT9r {
  margin-right: 50px;
}
.details--overview_T406N {
  color: rgba(255, 255, 255, 0.5);
  font-size: calc(var(--page-pad) * 1.25);
  line-height: calc(var(--page-pad) * 1.5);
  font-weight: 300;
}
/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/Layout/Header.scss ***!
  \********************************************************************************************************************************************************/
.header_EPvUq {
  background-image: url(/build/public/06325d1214c3b3c92bae.png);
  background-size: cover;
  height: 396px;
}
.header_EPvUq .top-section_P3pxG {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
  padding-top: 20px;
}
/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/Layout/Footer.scss ***!
  \********************************************************************************************************************************************************/
.footer_jAkiy {
  background: var(--dark-grey-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
/*!****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/Movies/MovieFilterBar.scss ***!
  \****************************************************************************************************************************************************************/
.movieFilterBar_7iqeK {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 20px;
  position: relative;
  border-image: linear-gradient(to top, #080707 1px, transparent 1px, #424242 2px) 4;
  border-bottom: 4px solid;
  color: var(--color-white);
}
.movieFilterBar--genres_O4TJE {
  display: flex;
}
.movieFilterBar--genre_gCHfJ {
  margin-right: 30px;
  text-transform: uppercase;
  padding-bottom: 20px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  position: relative;
  top: 4px;
}
.movieFilterBar--genre-active_agKrb {
  border-bottom-color: red;
}
.movieFilterBar--sort_Y_BPi {
  display: flex;
  height: 19px;
}
.movieFilterBar--sort-title_jBi6b {
  opacity: 0.6;
  margin-right: 30px;
}
.movieFilterBar--sort-val_MLpkR {
  font-weight: 500;
  cursor: pointer;
}
.movieFilterBar--sort-types_M1P3Y {
  background-color: var(--black-color);
  border: 1px solid rgb(195, 195, 195);
  position: absolute;
  top: 45px;
  right: 26px;
  z-index: 1;
  border-radius: 4px;
  width: 190px;
}
.movieFilterBar--sort-types_M1P3Y li {
  height: 28px;
  padding-left: 23px;
  display: flex;
  align-items: center;
}
.movieFilterBar--sort-types_M1P3Y li:hover {
  cursor: pointer;
  background-color: var(--main-color);
}
.movieFilterBar--arrow_y5fsC {
  color: var(--main-color);
  cursor: pointer;
  margin-left: 15px;
}
.movieFilterBar--arrow-down_dD3Yk {
  transform: rotate(180deg);
}
/*!***************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/UI/Modal.scss ***!
  \***************************************************************************************************************************************************/
@charset "UTF-8";
.modal_nC1mC {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(35, 35, 35, 0.918051);
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal--content_YmrwQ {
  padding: 60px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.07), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 10px 50px rgba(0, 0, 0, 0.05);
  background-color: var(--black-color);
  position: relative;
}
.modal--heading_eBapB {
  font-size: calc(var(--page-pad) * 2.5);
  line-height: calc(var(--page-pad) * 3);
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.modal_nC1mC .close_buUnz {
  position: absolute;
  top: 10px;
  cursor: pointer;
  right: 22px;
}
.modal_nC1mC .close_buUnz:after {
  display: inline-block;
  content: "×";
  /* This will render the 'X' */
  color: #FFFFFF;
  font-size: calc(var(--page-pad) * 2.5);
}
/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/Movies/DeleteMovieModal.scss ***!
  \******************************************************************************************************************************************************************/
.delete-form_GLrcE {
  display: flex;
  justify-content: flex-end;
}
.delete-form--buttons_UjhPZ {
  margin-top: 30px;
}
/*!***********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/Movies/MovieForm.scss ***!
  \***********************************************************************************************************************************************************/
@charset "UTF-8";
.form_gKgy3 {
  width: 860px;
}
.form--row_TuT9C {
  display: flex;
  margin-bottom: 30px;
}
.form--item_GHSxY {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form--item_GHSxY > label {
  color: var(--main-color);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.form--item_GHSxY:first-child {
  flex-grow: 1;
}
.form--item_GHSxY:nth-child(2n) {
  margin-left: 30px;
  width: 300px;
}
.form--item_GHSxY textarea {
  width: 100%;
  height: 200px;
}
.form--buttons_ODCrJ {
  display: flex;
  justify-content: flex-end;
}
.form--buttons_ODCrJ button {
  width: 180px;
  margin-left: 13px;
}
.form--error_t95uV {
  bottom: -17px;
  color: var(--main-color);
  font-size: 14px;
  position: absolute;
}

.genres_kCudZ {
  position: relative;
}
.genres--input_dYrqr {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.genres_kCudZ:after {
  content: "▲";
  top: 4px;
  right: 15px;
  position: absolute;
  color: var(--main-color);
  font-size: calc(var(--page-pad) * 2);
}
.genres--opened_Gg9lb:after {
  transform: rotate(180deg);
}
.genres--title-hide_mUFxm {
  display: none;
}
.genres_kCudZ .checkbox-group_NW21b {
  background-color: var(--black-color);
  position: absolute;
  width: 100%;
  padding: 20px;
  z-index: 1;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 50px rgba(0, 0, 0, 0.1);
}
.genres_kCudZ .checkbox-group_NW21b .checkbox-item_Idr2Z {
  margin-left: 10px;
  margin-bottom: 15px;
}
.genres_kCudZ .checkbox-group_NW21b .checkbox-item--label_BTJ7J {
  font-size: calc(var(--page-pad) * 1.4);
  line-height: calc(var(--page-pad) * 1.6);
  color: rgba(255, 255, 255, 0.8);
  margin-left: 5px;
}
.genres_kCudZ .checkbox-group_NW21b .checkbox-item--input_tVR4p {
  accent-color: var(--main-color);
  height: 16px;
  width: 16px;
}
/*!***********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/Movies/MovieCard.scss ***!
  \***********************************************************************************************************************************************************/
@charset "UTF-8";
.movieCard_Fh3bu {
  flex: 1 0 calc(33% - 10px);
  color: rgba(255, 255, 255, 0.6980392157);
  font-weight: 500;
  margin-bottom: 50px;
}
.movieCard--content_KKkOd {
  width: 320px;
  margin: 0 auto;
  position: relative;
}
.movieCard--content_KKkOd .menu-link_niVuA {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #2A202D;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.196596);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}
.movieCard--content_KKkOd .menu-link_niVuA:after {
  position: absolute;
  content: "⋮";
  color: #ffffff;
  font-size: 30px;
  left: 11px;
  top: -1px;
  z-index: 1;
}
.movieCard--content_KKkOd:hover .menu-link_niVuA {
  display: block;
}
.movieCard_Fh3bu .movieCardMenu_URr2j {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  background: rgb(35, 35, 35);
  border-radius: 4px;
  right: 10px;
  top: 10px;
  width: 190px;
  z-index: 20;
}
.movieCard_Fh3bu .movieCardMenu_URr2j ul {
  width: 100%;
  margin-bottom: 12px;
}
.movieCard_Fh3bu .movieCardMenu_URr2j li {
  height: 34px;
  padding-left: 23px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.movieCard_Fh3bu .movieCardMenu_URr2j li:hover {
  background: var(--main-color);
}
.movieCard_Fh3bu .movieCardMenu--close_BCyZP {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
.movieCard--img_hxRrt {
  margin-bottom: 20px;
  cursor: pointer;
}
.movieCard--img_hxRrt img {
  width: 320px;
}
.movieCard--titleYear_n4eD9 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.movieCard--title_ifWUk {
  font-size: calc(var(--page-pad) * 1.1);
  line-height: calc(var(--page-pad) * 1.4);
}
.movieCard--year_yImFs {
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  padding: 3px 10px;
  font-size: calc(var(--page-pad) * 0.9);
}
.movieCard--tagline_ket_W {
  font-size: calc(var(--page-pad) * 0.9);
  opacity: 0.5;
}
/*!************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/Movies/MoviesList.scss ***!
  \************************************************************************************************************************************************************/
.movies--total_bHWEc {
  display: block;
  color: var(--color-white);
  font-size: calc(var(--page-pad) * 1.25);
  margin-bottom: 27px;
}
.movies--total-value_Yp6F1 {
  font-weight: 600;
}
.movies--list_Lmmpi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
